[Unit]
Description=Vaxtify, distraction manager for the stubborn

[Service]
Type=dbus
BusName=solar.unneon.Vaxtify
ExecStart=/usr/bin/vaxtify daemon
ExecReload=busctl --user call solar.unneon.Vaxtify / solar.unneon.Vaxtify ServiceReload
